<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Grocery Store Full Test Suite" parallel="methods" thread-count="10">
    <test name="All Automated Tests">
        <packages>
            <package name="com.grocerystore.testcases.*" />
        </packages>
    </test>
</suite>
